.bg0 {
  background: url(../../assets/images/bg01.webp);
}

.bg1 {
  background: url(../../assets/images/bg02.webp);
}

.img_style {
  background-color: var(--color-default);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  z-index: -1;
}

.img_style::before {
  height: 100vh;
  width: 100%;
  content: "";
  position: fixed;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: inherit;
  -webkit-background-size: cover !important;
  -o-background-size: cover;
  background-size: cover !important;
}
