.bg0 {
  background-image: url(../../assets/images/bg01.webp);
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  background-attachment:fixed;
}
/* @media screen and (max-width: 768px){
  .bg0 {
    background-image: url(../../assets/images/bg01.webp);
    position: fixed;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    z-index: 3;
    -webkit-overflow-scrolling:touch;
  }
} */
.bg0:before {
  content: ' ';
  position: fixed;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url(../../assets/images/bg01.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg1 {
  background-image: url(../../assets/images/bg02.webp);
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  background-attachment:fixed;
}

/* @media screen and (max-width: 768px){
  .bg1{
    background-image: url(../../assets/images/bg02.webp);
    position: fixed;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    z-index: 3;
    -webkit-overflow-scrolling:touch;
  }
} */
.bg1:before {
  content:' ';
  position: fixed;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url(../../assets/images/bg02.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

