.marked-title {
  background-color: rgb(56, 240, 215);
  font-size: 30px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.marked {
  min-height: calc(100vh - 60px);
  /* display: flex; */
}

.input-region {
  background-color: rgb(233, 233, 233);
  outline: none;
}

.input-region,
.show-region {
  flex: 1;
  min-height: 100vh;
  padding: 20px 20px 80px 20px;
  font-size: 18px;
  border-radius: 1rem;
  /* border-top-left-radius: 1rem; */
}

/* ——————————————————————————————显示区markdown样式—————————————————————————————— */
/* 表格 */
.markdownStyle table {
  border: 1px solid var(--color-icon-default);
  border-spacing: 0; /*去掉单元格间隙*/
  margin-top: 10px;
}
.markdownStyle table th,
.markdownStyle table td {
  padding: 6px 14px;
  border: 1px solid var(--color-icon-default);
}

/* 行内代码 */
.markdownStyle code {
  color: 'var(--color-icon-default)';
  display: inline-block;
  height: 25px;
  line-height: 25px;
  width: auto;
  padding: 0 4px;
}

/* 图片 */
.markdownStyle p img {
  display: block;
  max-width: 100%;
  margin: 14px auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}
.markdown-body {
  box-sizing: border-box;
  min-width: 200px;
  max-width: 980px;
  background-color: var(--color-default) !important;
  margin: 0 auto;
  padding: 0 0;
  margin-bottom: 1rem;
  border-radius: 2rem;
}

.language-html {
  background: #0d1117;
  padding: 0;
  font-size: 16px;
}
.markdown-navigation {
  font-size: 17px !important;
  font-weight: 600 !important;
  border-bottom-left-radius: 1rem !important;
  border-bottom-right-radius: 1rem !important;
}
.markdown-navigation .active {
  border-top: none;
  border-bottom: none;
  border-right: none;
}
