.toggle-btn {
  position: absolute;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.6);
  color: rgb(255, 115, 0);
  font-size: 18px;
  line-height: 40px;
  padding: 0 11px;
  border-radius: 5px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
  transform: translate(calc(-12px - 100%), 0);
  transition: color 300ms ease, background-color 300ms ease;
}

.toggle-btn:active {
  background-color: rgb(255, 115, 0);
  color: #fff;
}
