/* ——————————————————————————————显示区markdown样式—————————————————————————————— */
.markdown-body-essay {
  width: 100%;
  padding: 0px 10px 0px 0px;
  margin-bottom: 0 !important;
  background-color: rgba(0, 0, 0, 0) !important;
}
.markdown-body-essay ul{
  margin-left: 20px !important;
}
.font-style{
  white-space: normal !important;
  /* margin-left: 18px; */

}
/* 表格 */
.markdown-body-essay table th,
.markdown-body-essay table td {
  padding: 6px 14px;
  border: 1px solid var(--color-icon-default) !important;
}
/* 图片 */
.markdown-body-essay{
  display: flex;
  flex-direction: column;
}

.markdown-body-essay img {
  display: flex;
  flex-direction:row;
  width: 100px;
  margin: 14px auto;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
}
.ant-image{
  margin: 2px !important;
}
.ant-image .ant-image-img{
  border-radius: 10px !important;
}
.ant-image .ant-image-mask:hover{
  border-radius: 10px !important;
}
