* {
  padding: 0;
  margin: 0;
  font-family: system-ui;
}

/* 回到顶部显示 */
.ant-float-btn-default {
  margin-right: 2%;
  margin-bottom: 3%;
  height: 45px;
  width: 45px;
}
/* 滚动条样式 */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: var(--color-default);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-scroll-default);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}
/* 导航栏文字彩虹显示 */
/* 导航栏文字彩虹显示 */
/* 导航栏文字彩虹显示 */
@keyframes rainbow {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -100% 0;
  }
}

.rainbow-text .text {
  background: linear-gradient(to right, #ffffff, #ff0000 6.25%, #ff7d00 12.5%, #ffff00 18.75%, #00ff00 25%, #00ffff 31.25%, #0000ff 37.5%, #ff00ff 43.75%, #ffff00 50%, #ff0000 56.25%, #ff7d00 62.5%, #ffff00 68.75%, #00ff00 75%, #00ffff 81.25%, #0000ff 87.5%, #ff00ff 93.75%, #ffff00 100%);
  background-clip: text;
  -webkit-background-clip: text; /* 兼容旧版浏览器 */
  color: transparent;
  background-size: 200% 100%;
  animation: rainbow 8s infinite linear;
}

